*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Ignore sprites and other images
app/src/main/res/drawable

# Ignore soundtracks
app/src/main/res/raw

# Ignore game data
app/src/main/assets

# Ignore screenshots
screenshots

# Ignore release/debug builds
app/release
app/debug
